* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  ul {
    list-style: none;
    background-color: rgb(243, 243, 243);
    width: 300px;
    height: 100%;
    padding: 0 4rem;
    position: fixed;
  }
  
  .logo {
    padding: 4rem 0 3rem 0;
  }
  .logo a {
    color:#333;
    font-weight: 600;
    font-size: 1rem;
  }
  .logo span {
    color: #F0402C;
  }
  
  ul li {
    padding: 1rem 0;
  }
  
  ul li a {
    font-size: 1.4rem;
    color: rgb(128, 128, 128);
  }
  ul li a:hover {
    color: #1a1a1ba8;
    font-weight: 600;
  }
  
  main {
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 20rem;
  }
  
  .active {
    color: #000;
    font-weight: 600;
  }
  
  h1 {
    color: #444;
    padding: 4rem 0 0 0;
    margin-bottom: 1rem;
  }